/* --- --- --- --- ---
fonts
--- --- --- --- --- --- */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* --- --- --- --- ---
global
--- --- --- --- --- --- */
* {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}



/* --- --- --- --- ---
header, footer
--- --- --- --- --- --- */
footer {
    height: auto;
    min-height: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 98%;
    margin: 0%;
}

.icon-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: auto;
    width: auto;
    margin: 1%;
    line-height: 2;
    height: auto;
}

.icon-row a {
    font-size: 1em;
    font-family: 'Source Sans 3';
    color: #252525;
    height: auto;
    align-self: flex-end;
    width: 100%;
    flex-grow: 1;
    margin-top: 5%;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.footer-logo img {
    height: 100px;
    width: 100px;
}

.footerIcon {
    margin: 0.5%;
}

header {
    height: auto;
    min-height: 180px;
    width: 100%;
    margin: 0;
    max-width: 100%;
    background-color: #f9f9f9;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
}

.header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    line-height: 2;
}

.header-title img {
    height: 100px;
    width: 100px;
}

.header-title h1 {
    font-size: 2em;
    font-weight: 400;
    height: auto;
    width: auto;
    top: 1%;
    width: 98%;
    text-align: center;
    flex-grow: 1;
    color: #253331;
    position: absolute;
    font-family: 'Source Sans 3';
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

.mobile-nav button {
    height: 5px;
    height: 60px;
    width: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-nav button:hover {
    box-shadow: 0px 0px 5px -1px rgba(82, 82, 82, 0.23);
}

.mobile-nav img {
    height: 98%;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 59%;
    margin: 1%;
    line-height: 2;
    position: absolute;
    top: 80%;
    border: 0.5px solid #2525254d;
    background-color: #fafafad6;
}

.mobile-link-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Source Sans 3';
    width: auto;
    flex-grow: 1;
    color: #253331;
    text-align: left;
    width: 99%;
    margin: 1.5%;
    margin-left: 2.5%;
    text-decoration: none;
}

.link-nav:hover {
    text-decoration: underline;
    font-size: 1.75em;
}

#navIcon {
    margin: 0.5% 5%;
}


/* --- --- --- --- ---
layouts 
--- --- --- --- --- --- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
    height: auto;
    background-color: #f9f9f9;
    background-color: #d4d5da;
    box-shadow: 0px 0px 5px -1px rgba(82, 82, 82, 0.23);
}


/* ----------------
|| HOME
------------------- */
.home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0%;
    min-height: 100vh;
    margin-top: 5%;
    background: transparent;
    box-shadow: 5px 0px 1px 0px rgba(82, 82, 82, 0.23);
    border-radius: 5px;
    background: #2533311a;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 98%;
    height: 100%;
    min-width: none;
    margin: 2.5% 0%;
    color: #1d1c28;
    font-family: 'Oxygen';
    background-color: #f9f9f99a;
}

.welcome-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 80%;
    height: auto;
    margin: 1% 0%;
}

.welcome-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: auto;
}

.welcome-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 99%;
    height: auto;
    margin: 1% 0%;
}

.welcome-title h1 {
    font-size: 4.5em;
    text-align: left;
    flex-grow: 1;
    width: 100%;
    max-width: 99%;
    margin: 0.5%;
}

.welcome-body p {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
    line-height: 3;
    flex-grow: 1;
    width: 100%;
    margin: 0.5% 1.5%;
    /*       
    align-self: center;
    min-width: none;*/
}

.btn-link {
    font-size: 2em;
    font-weight: 300;
    font-family: 'Source Sans 3';
    cursor: pointer;
    height: 2em;
    width: 100%;
    max-width: 50%;
    margin: 0.5% 2.5%;
    padding: 1px;
    color: #253331;
    background-color: #f9f9f9;
    border: 1px solid #535355;
    background-color: #86b9ff;
    border: none;
    color: #f9f9f9;
    border-radius: 5px;
}

.btn-link:hover {
    color: rgb(35, 46, 114);
    border: 1px solid rgb(35, 46, 114);
}

/* ----------------
|| SEARCH PAGE
------------------- */
.member-search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 98%;
    min-height: 100vh;
    margin: 0%;
}

.member-search-title {
    font-family: 'Source Sans 3';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 2.5%;
}

.member-search-title h2 {
    align-self: center;
    font-size: 2.5em;
    font-weight: 500;
}

.member-search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 98%;
    min-height: 10vh;
    height: auto;
    margin: 0%;
    margin-top: 1%;
}

.dropdown-container h2 {
    font-size: 2em;
    text-wrap: wrap;
    text-align: left;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    margin: 0%;
    margin-top: 5%;
    flex-grow: 1;
    font-family: 'Oxygen';
}

.search-container h2 {
    font-size: 2em;
    text-wrap: wrap;
    text-align: left;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    margin: 0%;
    margin-top: 5%;
    flex-grow: 1;
    font-family: 'Oxygen';
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-basis: 200%;
    margin: 1% 0%;
    height: 3em;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-basis: 200%;
    height: 3em;
    margin: 1% 0%;
}

/* ----------------
// input
----------------- */

.dropdown-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 98%;
    height: auto;
}

.search-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    position: relative;
}

.dropdown-component select {
    height: 3em;
    color: #485462;
    font-size: 1em;
    flex-grow: 1;
    max-width: 98%;
    width: 100%;
    padding-left: 2%;
    border: 0.25px solid #8c8c8c;
    background-color: #f7f7f7;
    font-family: 'Source Sans 3';
}

.dropdown-component select option {
    font-size: 0.9em;
    font-family: 'Source Sans 3';
}

.search-component-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 98%;
    border: 0.25px solid #8c8c8c;
    background-color: #f7f7f7;
}

.search-component input {
    height: 3em;
    color: #485462;
    font-size: 1em;
    flex-grow: 1;
    max-width: 98%;
    width: 100%;
    padding-left: 2%;
    /*      flex-basis: 150%;
    border: 0.5px solid #8c8c8c;
     padding: 0.5% 0% 0.5% 1.5%;*/
    border: none;
    background-color: transparent;
}

.search-results {
    position: absolute;
    top: 90%;
    width: 100%;
    max-width: 85%;
    margin: 1%;
    border-radius: 3px;
    max-height: 59vh;
    height: auto;
    height: auto;
    overflow-y: scroll;
    font-family: 'Source Sans 3';
    background-color: #fffffff5;
    box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 0.23);
}

.results {
    width: 100%;

    color: #0A3161;
    font-weight: 400;
}

.results p {
    cursor: pointer;
    margin: 1.5% 1%;
    padding: 0.5%;
    line-height: 2;
    font-size: 1em;
}

.results p:hover {
    color: #B31942;
    font-size: 1em;
    font-weight: 500;
}


/* - - - 
sponsored legislation */
.member-content-leg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 92%;
    height: auto;
    line-height: 2;
    font-family: 'Source Sans 3';
    color: #253331;
    border-top: 0.5px solid #252525;
}

.sponsored-leg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 99%;
    height: auto;
    font-family: 'Oxygen';
    margin: 1% 0.5%;
}

.sponsored-leg h1 {
    font-size: 1em;
}

.sponsored-leg p {
    font-size: 1.25em;
}

.leg-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    height: fit-content;
    margin: 1% 0%;
    box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 0.23);
    background-color: #f9f9f9;
}

.leg-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    margin: 0.5%;
}

.leg-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 98%;
    height: auto;
    margin: 1%;
}

.leg-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: 2;
    margin: 0.5%;
}

.leg-title h2 {
    font-size: 1.5em;
    font-family: 'Source Sans 3';
    font-weight: 400;
    flex-grow: 1;
    width: 100%;
}

.leg-title p {
    font-size: 1em;
}

.leg-text p {
    max-width: 90%;
    text-align: left;
    margin: 1% 0.5%;
    color: #253331;
}

/* ----------------
// selected state results
----------------- */
.selected-state-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 99%;
    height: auto;
    margin: 0%;
    flex-grow: 1;
    margin-top: 10%;
    background-color: #f9f9f9;
    border-top: 0.5px solid #53535339;
}

.state-results-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    margin: 1%;
    margin: 5% 0%;

    font-family: 'Oxygen';
}

.state-results-title h2 {
    font-size: 3vw;
    max-width: 99%;
    color: #1d1c28;
}

.selected-state-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    margin: 0.5%;
    font-family: 'Source Sans 3';
}

.member-card-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    height: fit-content;
    margin: 1% 0%;
    box-shadow: 0px 3px 5px 0px rgba(82, 82, 82, 0.23);
}

.title-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    height: auto;
    margin: 1%;
}

.card-link {
    width: 100%;
    max-width: 98%;
    margin: 0.5%;
    text-decoration: underline;
    text-wrap: wrap;
    align-self: flex-start;
    cursor: pointer;
    color: #323233;
}

.card-link h2 {
    font-size: 6vw;
    font-weight: 500;
    font-family: 'Oxygen';
}

.hover-red:hover {
    color: #B31942;
}

.hover-blue:hover {
    color: rgb(35, 46, 114);
}


/* */

.title-card p {
    flex-grow: 1;
    width: 100%;
    max-width: 99%;
    align-self: flex-end;
    text-align: right;
    font-size: 4vw;
    margin: 0.5%;
    font-weight: 300;
    color: #233c5a;
}

.current-term-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    margin: 1%;
}

.current-term-card p {
    width: 100%;
    max-width: 90%;
    flex-grow: 1;
    font-size: 4vw;
    font-weight: 400;
    margin: 1%;
    color: #233c5a;
}

/* --- --- --- --- ---
member info
--- --- --- --- --- --- */
.member-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    min-height: 100vh;
    margin: 0%;
    margin-top: 1%;
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0.5%;
}

.member-info h1 {
    max-width: 90%;
}

.back-button {
    font-size: 1em;
    width: 20%;
    height: 2em;
    border: 0.5px solid #233c5a9d;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    color: #233c5ac4;
}

.back-button:hover {
    border-color: rgb(35, 46, 114);
}

.member-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0.5%;
    margin-top: 1%;
    background-color: #f9f9f9;
}

.member-details h1 {
    font-size: 2em;
}

.member-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 98%;
    height: auto;
    margin: 1% 0%;
}

.member-title-row-a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 90%;
    margin: 1%;
    height: auto;
}

.member-title-row-a h1 {
    font-size: 3em;
    font-family: 'Oxygen';
}

.member-title-row-b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: 2;
    margin-left: 2%;
}

.member-title-row-b p {
    font-size: 1.5em;
    font-weight: 600;
    min-width: none;
    font-family: 'Oxygen';
}

.member-terms h3 {
    font-size: 1.75em;
    font-weight: 600;
    min-width: none;
    font-family: 'Oxygen';
}

.member-content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: 2;
    margin: 0%;
}

.member-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    line-height: 2;

}

.member-content p {
    font-family: 'Source Sans 3';
    font-size: 1.75em;
    max-width: 92%;
    text-align: left;
    margin: 1% 0.5%;
    color: #253331;
}

.member-link {
    font-family: 'Source Sans 3';
    color: #253331;
}

.show-terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 98%;
    height: auto;
    margin: 1%;
}

.showTermsBtn {
    font-size: 1em;
    width: 20%;
    height: 2em;
    border: 0.5px solid #233c5a9d;
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    color: #233c5ac4;

}

.showTermsBtn:hover {
    border: 1px solid #4e4eac;
    color: #4e4eac;
}

.member-terms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 92%;
    margin-top: 5%;
    height: auto;
    line-height: 2;
    font-family: 'Source Sans 3';
    color: #253331;
}

.member-terms ul {
    list-style: none;
    width: 100%;
    font-size: 1.5em;
}

.member-terms ul li {
    list-style: none;
    list-style-position: inside;
    width: 100%;
    max-width: 98%;
}


@media only screen and (min-width: 740px) {
    header {
        height: 150px;
        width: 100%;
        margin: 0;
        max-width: 100%;
        background-color: #f9f9f9;
    }

    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 99%;
        height: 100%;
    }

    .header-title h1 {
        font-size: 3em;
        font-weight: 400;
        height: auto;
        width: auto;
        top: 1%;
        left: 5%;
        width: 40%;
        max-width: 100%;
        text-align: left;
        flex-grow: 1;
        color: #253331;
        position: absolute;
        font-family: 'Source Sans 3';
    }

    .header-title img {
        height: 150px;
        width: 150px;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 35%;
        margin: 1%;
        line-height: 2;
        height: auto;
    }


    .link-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 1em;
        font-weight: 400;
        font-family: 'Source Sans 3';
        width: auto;
        flex-grow: 1;
        color: #253331;
        text-align: left;
        text-decoration: none;
    }

    .link-nav:hover {
        text-decoration: underline;
        font-size: 1.75em;
    }

    #navIcon {
        margin: 0.5% 5%;
    }

    .link-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.5em;
        text-align: right;
    }


    .home-page-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        max-width: 98%;
        height: 100vh;
        max-height: 80%;
        margin: 0%;
        background: transparent;
        box-shadow: 5px 0px 1px 0px rgba(82, 82, 82, 0.23);
        border-radius: 5px;
        background: #2533311a;
    }


    .welcome-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        max-width: 80%;
        height: 100%;
        min-width: none;
        margin: 2.5% 0%;
        color: #1d1c28;
        font-family: 'Oxygen';
        background-color: #f9f9f99a;
    }

    .welcome-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 39%;
        height: auto;
        flex-grow: 1;
    }

    .welcome-title {
        max-width: 79%;
        align-items: center;
        justify-content: center;
    }

    .welcome-title h1 {
        font-size: 4.5em;
        text-align: left;
        align-self: center;
        flex-grow: 1;
        margin: 0.5%;
        max-width: 90%;
    }

    .welcome-body p {
        font-size: 1.5em;
        font-weight: 400;
        text-align: left;
        line-height: 3;
        flex-grow: 1;
        max-width: 79%;
        margin: 0.5% 1.5%;
        /*       
        align-self: center;
        min-width: none;*/
    }

    /* */
    .member-search {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 98%;
        margin: 0%;
        margin-top: 1%;
    }

    .search-container,
    .dropdown-container {
        max-width: 80%;
    }

    .search-component {
        max-width: 98%;
        flex-grow: 1;
    }

    .search-component input {
        max-width: 98%;
    }

    .dropdown-component {
        max-width: 98%;
        flex-grow: 1;
    }

    .dropdown-component select {
        max-width: 98%;
    }


    /* */
    .state-results-title h2 {
        max-width: 90%;
        font-size: 3vw;
        font-weight: 300;
    }

    .member-card-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        flex-grow: 1;
        width: 100%;
        max-width: 80%;
        height: 300px;
        margin: 0.5%;
        box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 0.23);
    }

    .card-link h2 {
        font-size: 4vw;
        font-weight: 400;
        text-align: left;
        width: 100%;
        align-self: flex-end;
    }

    .hover-red:hover {
        color: #B31942;
    }

    .hover-blue:hover {
        color: rgb(35, 46, 114);
    }

    /* */
    .title-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 90%;
        height: 98%;
        margin: 1%;
        flex-wrap: nowrap;
    }

    .title-card p {
        width: 100%;
        max-width: 79%;
        min-width: none;
        max-width: 99%;
        text-align: right;
        flex-grow: 1;
        font-size: 3vw;
        margin: 0.5%;
        font-weight: 300;
    }

    .current-term-card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: 1%;
        height: 98%;
    }

    .current-term-card p {
        width: 100%;
        max-width: 99%;
        flex-grow: 1;
        font-size: 3.25vw;
        font-weight: 400;
        margin: 1%;
        text-align: left;
    }
}

@media only screen and (min-width: 1000px) {

    .state-results-title {
        max-width: 80%;
        font-size: 1vw;
    }

    .member-card-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        max-width: 60%;
        height: 300px;
        margin: 0.5%;
        margin-top: 2.5%;
        box-shadow: 0px 0px 5px 1px rgba(82, 82, 82, 0.23);
    }

    .card-link {
        font-size: 2.5vw;
    }

    /* */

    .selected-state-results {
        margin-top: 5%;
    }

    .state-results-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        text-wrap: wrap;
        max-width: 99%;
        height: auto;
        margin: 1%;
        margin: 5% 0%;
        font-family: 'Oxygen';
    }

    .state-results-title h2 {
        font-size: 4vw;
        max-width: 99%;
        text-align: left;
        flex-grow: 1;
        width: 100%;
        max-width: 90%;
        color: #1d1c28;
    }

    .title-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: 1%;
        flex-wrap: nowrap;
    }

    .title-card p {
        max-width: 99%;
        text-align: right;
        align-self: flex-end;
        font-size: 2vw;
        font-weight: 300;
    }

    .current-term-card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 90%;
        height: auto;
        margin: 1%;
        height: 98%;
    }

    .current-term-card p {
        width: 100%;
        flex-grow: 1;
        font-size: 2.5vw;
        font-weight: 400;
        margin: 1%;
        text-align: left;
    }
}

/* --- --- --- --- ---
BREAKPOINTS

@media only screen and (min-width: 800px) {



    .member-search {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 100%;
        height: 300px;
        margin: 0%;

        border: 1px solid red;
    }


    .search-container,
    .dropdown-container {
        align-items: flex-start;
    }

    .search-input,
    .dropdown-component {
        align-items: flex-start;
    }

    .search-input input {
        max-width: 69%;
    }

    .dropdown-container select {
        max-width: 69%;
    }
}
    --- --- --- --- --- --- */